.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.table{
   width: 90%;
   margin: 50px;
   border-radius: 1pt;
   background-color: burlywood;
   color: aqua;
}
.TableHead{
  font-weight: bold;
  background-color:black;
  font-size: medium;
}
.AddCircleRoundedIcon{
  color: white;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.25);*/
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 5%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(#5b1492, #882973, #ce7eb5);*/
}

.close {
  color: Black;
  float: right;
  border-radius: 5px;
  border: 2px solid black;
  width: 3%;
  height: 3%
}

.close:hover {
  color: cyan;
  cursor: pointer;
}
